@model IEnumerable<Patient>

@{
    ViewData["Title"] = "Patients List";
}

<h1>Patients</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Patient</a>
</p>

<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.First().FirstName)</th>
            <th>@Html.DisplayNameFor(model => model.First().LastName)</th>
            <th>@Html.DisplayNameFor(model => model.First().DateOfBirth)</th>
            <th>@Html.DisplayNameFor(model => model.First().Gender)</th>
            <th>@Html.DisplayNameFor(model => model.First().PhoneNumber)</th>
            <th>@Html.DisplayNameFor(model => model.First().Email)</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.FirstName</td>
                <td>@item.LastName</td>
                <td>@item.DateOfBirth.ToString("yyyy-MM-dd")</td>
                <td>@item.Gender</td>
                <td>@item.PhoneNumber</td>
                <td>@item.Email</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
